[phases.setup]
nixPkgs = ["nodejs_20", "python3", "openssl", "gcc", "gnumake", "pkg-config", "libudev-zero", "libusb1"]

[phases.install]
cmds = ["npm ci --legacy-peer-deps"]

[phases.build]
cmds = ["npx prisma generate", "npm run build"]

[start]
cmd = "npx prisma migrate deploy && npm start"
